@import "compass";

/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/

$fontheader: "Ubuntu", sans-serif;
$fontbody: "Lora", serif;
$blue: #307B8C;


@mixin circle{
    @include border-radius(50%);
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}


.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/***** SITE STYLES *************/
/**********************************/
body{
	min-width: 350px;
	font-family: $fontbody;
	color: #2f3638;
    p{
        margin: 0px;
        line-height: 20px;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a{
        text-decoration: none;
    }
     h1, h2, h3{
        margin: 0px;
    }
}

.fade{
    opacity:0;
}

.wrapper{
	width: 90%;
    margin: 0 auto;
    max-width: 800px;
}

header{
    background: url("../img/mainpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    // height: 220px;
    z-index: 100;
    background-position: center 20%;
    padding-bottom: 20px;
    svg{
        width: 30%;
        max-width: 150px;
        display: block;
        margin: 0 auto;
    }

    p{
        color: white;
        text-transform: uppercase;
        font-size: 0.8em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
        &:nth-child(3){
            letter-spacing: 4.9px;
            padding-top: 5px;
            margin-bottom: 15px;
        }
        &:nth-child(2){
            border-bottom: 1px solid white;
            display: inline-block;
            padding-bottom: 5px;
            font-family: $fontheader;
            letter-spacing: 2px;
        }
        
    }

    a{
        color: white;
        text-transform: uppercase;
        border: 3px solid $blue;
        padding: 5px;
        font-family: $fontheader;
        letter-spacing: 2px;
        font-size: 0.8em;
        padding: 7px 46px;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
        @include transition( background 0.3s );       
        &:hover{
        background: darken( $blue, 10% );
        }
    }
}

.definition{
    background: url("../img/definition.jpg");
    padding: 20px;
    background-size: cover;
    h1{
        font-family: $fontheader;
        text-transform: uppercase;
        display: inline-block;
    }
    h2{
        font-weight: normal;
        font-style: italic;
        display: inline-block;
    }
    h3{
        font-weight: normal;
        &:nth-child(4){
            margin-left: 20px;
        }
    }
}
.icon{
    width: 10%;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 40px;
    img{
        width: 100%;
    }
}

.about{
    background: url("../img/redimg.jpg");
    background-size: cover;
    color: white;
    padding-bottom: 20px;
    p{
        &:first-child{
            margin-bottom: 10px;
        }
    }
    .arrow{
        display: none;
    }
    .arrow2{
        max-width: 75px;
        display: block;
        margin: 0 auto;
        @-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
        @-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
        @-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
        @keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}
        &:hover{-ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;}
    }
}

.speakers{
    background: url("../img/greenbg.jpg");
    padding-bottom: 20px;
    section{
        img{
            width: 60%;
            max-width: 250px;
            @include circle;
        }
    }
    p{
        margin-top: 10px;
    }
}

.schedule{
    color: #5c231e;
    background: url("../img/scheduleimg.jpg");
    background-size: cover;
    padding-bottom: 20px;
    p{
        margin-bottom: 15px;
    }
    a{
        color: white;
    }
    .button{
        color: black;
        background-color: white;
        text-transform: uppercase;
        border: 3px solid $blue;
        padding: 5px;
        font-family: $fontheader;
        letter-spacing: 2px;
        font-size: 0.8em;
        padding: 10px 35px;
        text-align: center;
        display: block;
        width: 50%;
        margin: 0 auto;
        @include transition( background 0.3s );       
        &:hover{
        background: darken( white, 10% );
        }

    }
    li{
        &:last-child{
            margin-bottom: 15px;
        }
    }

}

.readytogrok{
    background: url("../img/readyimg.jpg");
    background-size: cover;
}


.sponsors{
    background: url("../img/greybg.jpg");
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    p{
        margin-bottom: 20px;
    }
    li{
        width: 65%;
        margin-bottom: 10px;
    }
    img{
        width: 100%;
        &:hover{
            opacity: 0.5;
            filter: alpha(opacity=40);
        }
    }
    
}

.readytogrok{
    text-align: center;
    padding: 20px;
    padding: 30px;
    h3{
        font-weight: normal;
        &:first-child{
            font-family: $fontheader;
            text-transform: uppercase;
        }

        &:nth-child(2){
            margin-bottom: 20px;
        }
    }
    a{
        font-family: $fontheader;
        text-transform: uppercase;
        background: #3ea0b5;
        background-image: -webkit-linear-gradient(top, #3ea0b5, #21667a);
        background-image: -moz-linear-gradient(top, #3ea0b5, #21667a);
        background-image: -ms-linear-gradient(top, #3ea0b5, #21667a);
        background-image: -o-linear-gradient(top, #3ea0b5, #21667a);
        background-image: linear-gradient(to bottom, #3ea0b5, #21667a);
        -webkit-border-radius: 4;
        -moz-border-radius: 4;
        border-radius: 4px;
        color: #ffffff;
        padding: 10px 75px;
        border: solid #ffffff 1px;
        text-decoration: none;
        letter-spacing: 3px;
        @include transition( background 0.3s );       
        &:hover{
        background: darken( #3ea0b5, 10% );
        }
    }
}

.follow{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .grokman{
        width: 35%;
        @-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
        @-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
        @-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
        @keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}
        &:hover{-ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;}
    }
    .social{
        img{
            width: 17%;
            &:nth-child(2){
                width: 15%;
            }
        }
    }
}

footer{
    padding: 20px;
    img{
        width: 50%;
        display: block;
        &:nth-child(2){
            margin-bottom: 10px;
        }
    }
    p{
        &:first-child{
            margin-bottom: 20px;
        }
        &:last-child{
            font-size: 0.6em;
            margin-top: 20px;
        }
    }
}


@media (min-width: 600px){
    header{
        p{
            font-size: 1em;
        }
    }

    // .arrow2{
    //     max-width: 75px;
    // }

    .locations{
        ul{
            display: inline-block;
            &:nth-child(2){
                margin-left: 100px;
            }
        }
    }
    .schedule{
        .button{
            padding: 10px 0px;
        }
    }

    .follow {
        width: 40%;
    }
    .sponsors img {
        width: 65%;
        max-width: 300px;
    }
    footer{
        img{
            width: 49%;
            max-width: 300px;
            display: inline-block;
            vertical-align: top;
            &:nth-child(3){
                margin-top: 72px;
                float: right;
            }
        }
    }
}

@media (min-width: 800px) {
    .content {
        width: 90%;
        max-width: 900px;
        background-color: white;
        margin: 0 auto;
    }

    body{
        background-color: #f2e9e4;
    }

    .definition{
        padding: 75px 45px;
    }
    .about{
        position: relative;
        .arrow2{
            display: none;
        }
        .arrow{
            display: inline-block;
            position: absolute;
            width: 20%;
            left: 20%;
            top: 49%;
            @-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
        @-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
        @-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
        @keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}
        &:hover{-ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;}
        }

    
        .tentwenty{
            display: block;
            width: 55%;
            float: right;
            margin-bottom: 45px;
        }
        .ten{
            margin-bottom: 0px;
            margin-top: 20px;
        }
        p{
            &:first-child{
                margin-top: 30px;
            }
        }
    }

    .speakers{
        section{
            img{
                display: inline-block;
            }
        }
        p{
            width: 60%;
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
    .sponsors{
        img{
            width: 100%;
        }
        li{
            width: 26%;
            display: inline-block;
            vertical-align: top;
            margin-right: 53px;
            &:nth-child(2){
                margin-right: 20px;
                margin-left:33px;
            }
            &:nth-child(3){
                margin-right: 0px;
                margin-left: 50px;
            }
            &:nth-child(4){
                display: block;
                margin: 0 auto;
            }
        }
    }

    footer{
        img{
            &:nth-child(2){
                margin-left: 20px;
            }
            &:nth-child(3){
                margin-right:20px;
            }
        }
    }
}








